@media (min-width: 1200px) {
    .preheader {
        width: 100%;
        padding:0.625rem 0;
        position:relative;
    }
    .preheader .container {
        max-width: 100%;
    }
    .preheader .logo img {
        height:60px;
    }
    .preheader h3 {
        font-size: 1.8rem !important;
    }
    .preheader h4 {
        font-size: 0.9rem !important;
        
    }
    .preheader .table th, .preheader .table td {
        padding:0.15rem;
    }
    .homepage .preheader {
    background-color:transparent!important;
    }
    
}

@media only screen and (max-width: 400px) {
    .preheader h3, .preheader h4 {
        font-size:0.7rem !important;
    }
}

.preheader .table {
    margin-bottom:0px !important;
}
.preheader .table th, .preheader .table td {
    padding: 0px 0.15rem;
}
.preheader h3, .preheader h4{
    color:#ffffff !important;
    
}
.preheader h4 {
    line-height:2.2em !important;
}

.preheader hr {
    width: 98%;
    border: 0;
    height: 3px;
    background: #ffffff;
    opacity: 0.6;
}
.preheader {
    background-color:#000000;
}

.navbar-light .navbar-nav .nav-link{
    color:#ffffff !important;
}
.navbar-light .navbar-nav .nav-link:hover{
    text-decoration:underline;
}
//common css
@media (min-width: 1200px) {
    main .container {
        max-width: 1420px;
    }
    nav .container {
        margin-left:0px !important;
    }
   
}
.ml-auto, .mx-auto {
    margin-left:0!important;
}
.navbar-expand-md .navbar-nav {
    width:100%;
    max-width:100%;
}
///////////////////////////
.navbar-light .navbar-nav .nav-link{
    color:#ffffff !important;
}
.navbar-light .navbar-nav .nav-link:hover{
    text-decoration:underline;
}
#preheader {
    display:none;
}
//homepge carousel
.main-carousel1 {
    border-bottom:1px solid #cccccc;
}
.main-carousel .single-product-item{
    border:0px;
    margin-bottom:0px !important;
    border-width: 0px 2px 0px 0px;
    border-color:#cccccc;
    border-style:solid;
    margin-bottom:0px !important;
    
}
.main-carousel .product-carousel {
    min-height:50px;
}
.main-carousel .product-carousel-user-rating {
    padding:12px;
}
.main-carousel .product-carousel a {
    font-size:1rem;
    color:#000000;
}
.main-carousel .product-carousel-bottom {
    padding:10px 12px;
}
.main-carousel .product-list1 {
    border:2px solid #cccccc;
    
}
.main-carousel .owl-carousel.owl-drag .owl-item1 {
    background-color:#ffffff;
}

#product_details table th {
    background-color:#e8e8e8;
    text-transform: uppercase;
}
#product_details table th,#product_details table td {
    padding:2px !important;
    text-align:center;
    border:1px solid #e8e8e8 !important;
}
#product_details table td {
    
}
.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
    width:100px;
}
.oe_product {
    border:0px !important;
    border-spacing: 0px;
    border-color: #ffffff!important;
    padding:5px;

}
.oe_product .oe_product_cart {
    border:1px solid #e8e8e8 !important;
}
@media (min-width: 1200px) {
    #products_grid.col-lg-9 .oe-height-2 {
    height:390px!important;   
}
.oe_product .oe_product_image {
    left:0px!important;
    right:0px!important;
    top:0px!important;
    bottom:2px;
}
.oe_product .product_price {
    margin-top:10px;
    margin-bottom:10px;
}
.oe_product .oe_product_image img {
    margin:0px !important;
}
.product-tiered-pricing {
    min-height:90px;
}
.products_pager {
    padding-bottom:10px;
    border-bottom:1px solid #e8e8e8 !important;
    min-height:80px;
}
.products_pager .btn-secondary {
   background-color:transparent !important;
   border-color:#ced4da !important;
   color:#000000 !important;
}
.oe_website_sale ul ul {
    margin-left:1.5rem !important;
    padding-top:8px;
    padding-bottom:8px;
}
.nav-pills:first-child > .nav-item {
    margin-bottom:16px;
}
.nav-pills .nav-item .nav-link {
    font-size: 1.2rem;
    font-weight:600px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0px;
}
.nav-pills .nav-pills .nav-item .nav-link {
    font-size: 0.9rem;
    font-weight:normal;
    border-bottom: 0px solid #ebebeb;
}
.breadcrumb {
    font-size:1.1rem;
    background-color:transparent !important;
    border-radius:0px;
}
.main-carousel .product-carousel-bottom {
    min-height:230px;
}
.owl-nav {
    position:absolute;
    bottom:25px;
    left:30px;
}
.owl-nav .owl-next {
    left:20px;
}
}

#carousel-item .backgroundimage img {
    width:auto !important;
    height:100%;
    min-height:100%;
}
 #carousel-item .container .row {
        padding-top:10em;
        padding-bottom:16px;
    }

@media only screen and (max-width: 768px) {
    #carousel-item .container .row {
        padding-top:20em;
    }
    .navbar-light, .bg-light {
    background-color:#000000 !important;
    }
    #wrapwrap.o_header_overlay > header:not(.o_header_affix) > .navbar .nav-item > .nav-link {
        text-align:right !important;
    }
    #wrapwrap.o_header_overlay > header:not(.o_header_affix) > .navbar .container {
        
    }
    #wrapwrap.o_header_overlay > header:not(.o_header_affix) > .navbar .nav-item > .nav-link {
        text-align:left !important;
    }
    .navbar-expand-md .navbar-nav {
        padding-right:10px;
    }
    .preheader .container .row table {
        padding-top:0px !important;
    }
    .preheader .container .row table h4 {
        font-size:0.5em!important;
        
    }
    nav .show {
        background-color: #000000 !important;
    }
}
